:root {
    --lightblue: #ADD8E6;
    --black: #000000;
    --rainbow-gradient: linear-gradient(-90deg,#adfbda 0,#35c3ff 30%,#fda399 50%,#76d880 70%,#ebf38b 90%,#adfbda 100%);
}

/* TEST */

/* The side navigation menu */
.open-nav {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    color: white;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

* {
    margin: 0;
}

body {
    background-color: #162c35;
}

#header {
    margin: 5px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

h1, h4 {
    background-image: var(--rainbow-gradient,#fff);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 2rem #000);
    text-shadow: none!important;
}

#title-heading {
    align-items: center;
    text-align: center;
    color: var(--black);
}

.main-content {
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
 
#button-container {
    display: flex;
    justify-content: center;
    align-items: flex;
    flex-wrap: wrap;
}

#button-container button {
    color: var(--lightblue);
    margin: 0 0 10px 10px;
}

#button-container2 {
    display: flex;
    justify-content: center;
    align-items: flex;
    flex-wrap: wrap;
}

#button-container2 button {
    color: var(--lightblue);
    margin: 0 0 10px 10px;
}

#memeContainer {
    display: flex; 
    justify-content: center;
    width: 500px;
    height: auto;
}

img {
    max-width: 100%;
    max-height: 600px;
}

#saveDataContainer {
    display: flex;
    justify-content: center;
}

#saveDataContainer button {
    color: var(--lightblue);
    width: auto;
    margin: 0 0 10px 10px;
}

/* ADVICE API BOX */
#advice-card {
    margin: 5px;
    text-align: center;
}

#quote-box {
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#quote-box p {
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    display: flex;
    align-items: flex-start;
}

/* Button-box contains the generate text button, not the appended buttons */
#button-box {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 200px;
}
#button-box button {
    display: flex;
    justify-content: center;
    width: auto;
}

#small-device-container {
    margin-top: 20px;
}
#small-device-btns {
    display: flex;
    justify-content: center;
}

#small-device-btns button{
    color: var(--lightblue);
}

.hide {
    display: none;
}

/* MODAL */
@import 'https://fonts.googleapis.com/css?family=Raleway';

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
	visibility: hidden;
	backface-visibility: hidden;
    opacity: 0;
    transition: opacity .15s ease-in-out; 
}
.modal-open {
    visibility: visible;
  	backface-visibility: visible;  
    opacity: 1;
    z-index: 1;
}  
.modal-inner {
    position: relative;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-content {
    color: var(--lightblue);
    background-color: #20404d;
    max-width: 50em;
    padding: 1em 1.5em;
    position: relative;
    text-align: center;
    margin: 2em;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}
.modal-close-icon {
    position: absolute;
    right: 1.5em;
}      
.modal-content-inner {
    padding-right: 2em;
}
.modal-buttons-seperator {
    margin: 1.5em 0;
    margin-top: 0;
}
.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}
.modal-buttons button {
    margin-left: 1em;
} 
.modal-buttons button:first-child {
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    #button-container {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    #small-device-container {
        display: none;
    }
}